:root {
  --white: white;
  --grey:  #3d3b36;
  --primary-black: #1a1a1a;
  --secondary-black: #1f1f1f;
  --light-black: #262626; /*#2b2b2b;*/

  --primary-grey: #4f4f4f;

  --primary-red: #b54848;
  --secondary-red: #ff7b76;

  --neon-red:    #ff3131;
  --neon-orange: #ff9914;
  --neon-yellow: #fbff14;
  --neon-green:  #74db00;
  --neon-blue:   #2b97fa;
  --neon-purple: #c922c9;
  --neon-pink:   #ff1493;

  --sherb-red:    #e36868;
  --sherb-orange: #e3ba68;
  --sherb-yellow: #e3dd68;
  --sherb-green:  #8be368;
  --sherb-blue:   #68b8e3;
  --sherb-purple: #9d68e3;
  --sherb-pink:   #e368db;

  --filter-white:  invert(1.0);

  --filter-primary-red:  invert(43%) sepia(8%) saturate(3510%) hue-rotate(313deg) brightness(89%) contrast(106%);
  
  --filter-neon-green:  invert(56%) sepia(64%) saturate(631%)  hue-rotate(45deg)  brightness(112%) contrast(102%);
  --filter-neon-orange:  invert(69%) sepia(35%) saturate(3123%) hue-rotate(347deg) brightness(100%) contrast(102%);;
  --filter-neon-red:  invert(69%) sepia(35%) saturate(3123%) hue-rotate(312deg) brightness(100%) contrast(102%);;

  --filter-sherb-green:  invert(96%) sepia(94%) saturate(735%)  hue-rotate(39deg)  brightness(92%) contrast(93%);
  --filter-sherb-blue:   invert(70%) sepia(18%) saturate(1152%) hue-rotate(160deg) brightness(97%) contrast(83%);
  --filter-sherb-pink:   invert(63%) sepia(55%) saturate(1993%) hue-rotate(273deg) brightness(94%) contrast(89%);
  --filter-sherb-purple: invert(43%) sepia(86%) saturate(463%)  hue-rotate(223deg) brightness(95%) contrast(87%);

  --primary-dark:   var(--primary-black);
  --secondary-dark: var(--secondary-black);

  --primary-color:   var(--sherb-green);
  --secondary-color: var(--sherb-blue);

  --link-color:  var(--primary-red);
  --hover-color: var(--secondary-red);

  --filter-primary-color: var(--filter-sherb-green);
  --filter-secondary-color: var(--filter-sherb-blue);

  --filter-link-color: var(--filter-primary-red);
  --filter-hover-color: var(--filter-neon-red);
}

@font-face 
{
  font-family: "figtree";
  src: url("@pathtofile(dash/assets/fonts/Figtree.ttf)") format("truetype");
  font-display: fallback;
}

@font-face 
{
  font-family: "ubuntu mono";
  src: url("@pathtofile(dash/assets/fonts/UbuntuMono.ttf)") format("truetype");
  font-display: fallback;
}

html, body, div, applet, object,
iframe, h1, h2, h3, h4, h5, h6, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
header, hgroup, output, ruby,
section, summary, time, mark, audio, video {
  margin:  0 0 0 0;
  line-height: 1.25em;
  box-sizing: border-box;
  max-width: 100%;

  scrollbar-color: var(--link-color) transparent !important;
}

body {
  background: var(--primary-dark); 
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: "figtree";
  max-width: 100%;
  min-height: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}

.btn {
  font-size: 1em;
  color: var(--primary-dark);
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
  background: var(--link-color);
  border: 0px;
  border-radius: 0.25em;
}
.btn:hover {
  background: var(--hover-color);
}

.card {
  background: var(--light-black);
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  width:fit-content;
  height:fit-content;
  border-radius: 5px;
}

.border, .border-hover {
  border: 0px solid var(--primary-grey);
  box-shadow: 0px 0px 3px 1px var(--primary-grey);
  background: var(--secondary-dark);
}

.border-hover:hover {
  border: 0px solid var(--neon-orange);
  box-shadow: 0px 0px 3px 1px var(--neon-orange);
  background: var(--secondary-dark);
}

.card-shadow {
  box-shadow: 0px 0px 5px 1px var(--primary-red);
  background: var(--secondary-dark);
}

.card-shadow:hover, .card-hover-shadow:hover {
  box-shadow: 0px 0px 5px 1px var(--neon-orange);
  background: var(--primary-dark);
}

.centered {
  margin: 0 auto;
}

code {
  color: var(--secondary-color); 
}

.gradient-text {
  color: var(--primary-red); 
  background: linear-gradient(to right, #9f2f40, #cd5f4e); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.gradient-text-alt {
  color: #bacd4e; 
  background: linear-gradient(to right, #bacd4e, #2f9f40); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: var(--primary-red);
}

hr {
  max-width: 100%;
  border: 1px solid var(--grey);
}

input, input:focus, select {
  background: var(--light-black);
  border: 1px solid grey;
  color: var(--white);
  outline: none;

  max-width: 600px; 
  width: 90%; 

  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
input:disabled {
  background: var(--secondary-dark);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed { /*prevent bg-col change in chrome*/
  /*transition: background-color 600000s 0s, color 600000s 0s;*/
  transition-delay: 9999999999s;
  font-size: inherit;
}

.noselect, br, button, .fa
{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

::-moz-selection {
  color: var(--primary-dark);
  background-color: var(--primary-red);
}

::selection {
  color: var(--primary-dark);
  background-color: var(--primary-red);
  -webkit-background-clip: revert; 
  -webkit-text-fill-color: var(--primary-dark);
}

table { 
   /*border-collapse: separate;*/
   border-spacing: 1em 0;
}

th {
  color: var(--neon-orange);
}

.main-page ul {
  text-align: left;
  max-width: 90%;
}

ul li {
  list-style: none;
  list-style-position: outside !important;
}

#main-page ul li::before {
  content: "\2022"; 
  color: var(--primary-color);
  font-weight: bold;
  font-size: 11pt;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}


/* width */
::-webkit-scrollbar 
{
  width: 8px;
  height: 0px;
}

#menu-div::-webkit-scrollbar 
{
  width: 5px;
  height: 0px;
}

/* track */
::-webkit-scrollbar-track 
{
  background: transparent; 
}
 
/* handle */
::-webkit-scrollbar-thumb 
{
  background: var(--link-color);
  border-radius: 3px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: var(--hover-color); 
}

::-webkit-scrollbar-corner {
  background: transparent;
}