<div id="div-confirm-popup" class="card border popup popup-dash popup-middle">
	<span id="span-confirm-popup-msg">are you sure?</span><br>
	<button class="btn" onclick="resolve_confirm(false)">no</button>
	<button class="btn" onclick="resolve_confirm(true)">yes</button>
</div>

<div id="div-notify-popup" class="card border popup popup-dash popup-middle">
	<span id="span-notify-popup-msg">are you sure?</span><br>
	<button class="btn" onclick="resolve_notify()">ok</button>
</div>

<div id="div-mono-notify-popup" class="card border popup popup-dash popup-middle" style="width: 100%">
	<textarea id="mono-notify-popup-textarea" style="text-align: left; font-family: 'ubuntu mono';"></textarea><br>
	<button class="btn" onclick="document.getElementById('div-mono-notify-popup').style.display='none'">ok</button>
</div>

<div id="div-waiting-popup" class="card border popup popup-dash popup-middle">
	<span id="span-waiting-popup-msg"></span><br>
	<img src="@pathtofile(public/assets/icons/loading-boxes.svg)" class="width-2em spinner no-hover-ico" style="margin-top: 1em">
</div>

<script>
	
</script>

<style>
	.popup {
		display: none;
		position: fixed;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 500px; 
		max-width: 90%;
		max-height: 66vh;
		overflow-y: scroll;
		z-index: 999;
	}

	.popup-middle {
		left: 0;
		right: 0;
		top: 25vh;
	}

	.popup-bottom {
		left: 0;
		right: 0;
		bottom: 0;
	}

	@media screen and (min-width: 600px) {
		.popup-dash {
			left: 3.5em;
			max-width: calc(90% - 3.5em);
		}
	}

	#mono-notify-popup-textarea {
		background: var(--secondary-dark);
		border: 1px solid var(--light-black);
		color: var(--white);
		height: 300px; 
		width: 90%;
		font-family: "ubuntu mono";
		font-size: 0.9em;
		overflow-x:auto;
		padding: 0.25em 0.25em;
		margin: 0.25em 0;
		resize: none;
		text-align: left;
		white-space: pre-wrap;
	}

</style>

<script>
	const root = document.querySelector(':root');
	var hue = 0;
	var cycle_hue = false;
	async function increment_spinner_hue() {
		if(cycle_hue) {
			hue = (hue+50)%360;
			root.style.setProperty('--filter-spinner-color', "invert(53%) sepia(86%) saturate(463%)  hue-rotate(" + hue + "deg) brightness(95%) contrast(87%)");
			setTimeout(increment_spinner_hue, 500);
		}
	}

	async function waiting_popup(msg) {
		document.getElementById("span-waiting-popup-msg").innerHTML = msg;
		cycle_hue = true;
		increment_spinner_hue();
		document.getElementById("div-waiting-popup").style.display = "block";
	}

	async function resolve_waiting_popup() {
		document.getElementById("div-waiting-popup").style.display = "none";
		cycle_hue = false;
		document.getElementById("span-waiting-popup-msg").innerHTML = "";
	}

	function sleep(ms) {
	    return new Promise(resolve => setTimeout(resolve, ms));
	}

	var confirm_resolved, confirm_result;

	async function resolve_confirm(res) {
		document.getElementById("div-confirm-popup").style.display = "none";
		document.getElementById("div-confirm-popup").style.boxShadow = "0px 0px 3px 1px var(--primary-grey)";

		confirm_result = res;
		confirm_resolved = true;
	}

	async function confirm_(msg) {
		confirm_resolved = false;
		document.getElementById("span-confirm-popup-msg").innerHTML = msg;
		document.getElementById("div-confirm-popup").style.display = "block";

		while(!confirm_resolved) {
			await sleep(250);
		}

		return confirm_result;
	}

	async function confirm_color(msg, col) {
		document.getElementById("div-confirm-popup").style.boxShadow = "0px 0px 3px 1px " + col;

		await confirm_(msg)
	}

	var notify_resolved;

	async function resolve_notify() {
		notify_resolved = true;
		document.getElementById("div-notify-popup").style.display = "none";
		document.getElementById("div-notify-popup").style.boxShadow = "0px 0px 3px 1px var(--primary-grey)";
	}

	async function notify(msg) {
		notify_resolved = false;
		document.getElementById("span-notify-popup-msg").innerHTML = msg;
		document.getElementById("div-notify-popup").style.display = "block";

		/*while(!notify_resolved) {
			await sleep(250);
		}*/
	}

	async function notify_color(msg, col) {
		document.getElementById("div-notify-popup").style.boxShadow = "0px 0px 3px 1px " + col;

		await notify(msg)
	}

	async function notify_resp(result) {
		await notify_color(result["response"], (result["successful"] ? "var(--primary-grey)" : "var(--primary-red)"));
	}
	
	async function mono_notify(msg) {
		document.getElementById("mono-notify-popup-textarea").innerHTML = msg;
		document.getElementById("div-mono-notify-popup").style.display = "block";
	}
</script>