<!doctype html>
<html lang="en">
	<head>
		@input("templates/head.html")
	</head>

	<body>
		<div align="center">
			@input("templates/menu.html")

			<div id="menu-open-div">
				<div style="margin: 0 auto">
					<i id="open-menu-icon" class="fa fa-bars ico-link-color" onclick="show_menu()"></i>
				</div>
			</div>

			<div id="menu-div">
				<div style="margin: 0 auto">
					<i id="open-menu-icon" class="fa fa-bars ico-link-color" onclick="show_menu()"></i><br><br>
					<i title="home" class="bs-ico bootstrap-house ico-link-color" onclick="show('index')"></i><br>
					<hr>
					<i title="server monitor" class="bs-ico bootstrap-activity ico-link-color" onclick="show('monitor')"></i><br>
					<a title="terminal" href="#"><i class="bs-ico bootstrap-terminal ico-link-color" onclick="show('terminal')"></i></a><br>
					<a title="file browser" href="#"><i class="bs-ico bootstrap-folder ico-link-color" onclick="show('browser')"></i></a><br>
					<a title="editor" href="#"><i class="bs-ico bootstrap-code-square ico-link-color" onclick="show('editor')"></i></a><br>
				</div>
			</div>

			<div id="banner-div">
				<h2>Cloudfort</h2>
			</div>

			<div id="index-div" class="main-div">
				<div class="main-page">
					@content
				</div>
			</div>

			<script>
				var home = "nil";

				async function get_pwd() {
					let response = await fetch("/pwd", {
						method: "GET"
					});
					let result = await response.json();

					return result["pwd"];
				}
			</script>

			<div id="monitor-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/monitor.html")
				</div>
			</div>

			<div id="terminal-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/terminal.html")
				</div>
			</div>

			<div id="browser-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/browser.html")
				</div>
			</div>

			<div id="editor-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/editor.html")
				</div>
			</div>

			<div id="tos-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/tos.html")
				</div>
			</div>

			<div id="privacy-policy-div" class="main-div" style="display: none">
				<div class="main-page">
					@input("content/privacy-policy.html")
				</div>
			</div>

			<div id="footer-div">
				<div style="margin: 0 auto">
					Cloudfort 
				</div>
			</div>
		</div>

		<script type="text/javascript" src="@pathto(assets/js/script)"></script>
		<script type="text/javascript" src="@pathto(assets/js/menu)"></script>
		<script type="text/javascript" src="@pathtofile(public/assets/js/pocketbase.umd.js)"></script>

		<script>
			function show(name) {
				document.getElementById("index-div").style.display = "none";
				document.getElementById("monitor-div").style.display = "none";
				document.getElementById("terminal-div").style.display = "none";
				document.getElementById("browser-div").style.display = "none";
				document.getElementById("editor-div").style.display = "none";

				document.getElementById(name + "-div").style.display = "block";

				if(name == "terminal")
					document.getElementById("input-terminal").focus();
			}

			const pb = new PocketBase('http://127.0.0.1:8090');

			async function sign_out() {
			    pb.authStore.clear();
			    location.href = "@pathto(auth/sign-in/)"
			}

			if(!pb.authStore.isValid) {
			    location.href = "@pathto(auth/sign-in/)"
			}
		</script>
	</body>
</html>