<!doctype html>
<html id="html" lang="en">
	<head>
		@input("templates/head.html")
	</head>

	<body>
		@input("templates/popups.html")

		<script>
			waiting_popup("loading");
		</script>

		<div align="center">
			@input("templates/menu.html")

			<div id="content" style="display: none;">
				<div id="menu-div">
					<div style="margin: 0 auto">
						<i id="open-menu-icon" class="fa fa-bars menu-ico" onclick="show_menu()"></i><br><br>
						<i title="home" class="bs-ico bootstrap-house menu-ico" onclick="show('index')"></i><br>
						<hr>
						<i title="monitor" class="bs-ico bootstrap-activity menu-ico" onclick="show('monitor')"></i><br>
						<i title="terminal" class="bs-ico bootstrap-terminal menu-ico" onclick="show('terminal')"></i><br>
						<i title="explorer" class="bs-ico bootstrap-folder menu-ico" onclick="show('explorer')"></i><br>
						<i title="editor" class="bs-ico bootstrap-code-square menu-ico" onclick="show('editor')"></i><br>
						<hr>
						<i title="tools" class="bs-ico bootstrap-tools menu-ico" onclick="show('tools')"></i><br>
						<i title="administration" class="bs-ico bootstrap-gear menu-ico" onclick="show('administration')"></i><br>
					</div>
				</div>

				<div id="banner-div">
					<h2 id="h2-Cloudfort" style="color: white; margin-top: -0.125em; margin-left: 2.5em">Cloudfort</h2>
				</div>

				<div id="index-div" class="main-div">
					<div class="main-page">
						@content
					</div>
				</div>

				<div id="monitor-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/monitor.html")
					</div>
				</div>

				<div id="terminal-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/terminal.html")
					</div>
				</div>

				<div id="explorer-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/explorer.html")
					</div>
				</div>

				<div id="editor-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/editor.html")
					</div>
				</div>

				<div id="tools-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/tools.html")
					</div>
				</div>

				<div id="administration-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/administration.html")
					</div>
				</div>

				<div id="admin-dash-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/admin-dash.html")
					</div>
				</div>

				<div id="admin-system-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/admin-system.html")
					</div>
				</div>

				<div id="certs-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/certs.html")
					</div>
				</div>

				<div id="cronjobs-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/cronjobs.html")
					</div>
				</div>

				<div id="docker-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/docker.html")
					</div>
				</div>

				<div id="fail2ban-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/fail2ban.html")
					</div>
				</div>

				<div id="firewall-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/firewall.html")
					</div>
				</div>

				<div id="repos-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/repositories.html")
					</div>
				</div>

				<div id="services-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/services.html")
					</div>
				</div>

				<div id="ssh-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/ssh.html")
					</div>
				</div>

				<div id="users-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/users.html")
					</div>
				</div>

				<div id="tos-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/tos.html")
					</div>
				</div>

				<div id="privacy-policy-div" class="main-div" style="display: none">
					<div class="main-page">
						@input("content/privacy-policy.html")
					</div>
				</div>

				@/*<div id="footer-div">
					<div style="margin: 0 auto">
						Cloudfort &copy;<span name="cyear"></span>
					</div>
				</div>*/
			</div>
		</div>

		<style>
			#menu-bars {
			  	display: none;
			}

			#menu-div {
			  padding: 1em 0;
			  background: var(--secondary-dark);
			  text-align: center;
			  width: 3.5em;
			  height: 100vh;
			  display: inline-flex;
			  position: fixed;
			  top: 0;
			  left: 0;

			  overflow-y: auto;

			  z-index: 5;

			  box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 20%) !important;
			}

			#banner-div {
			  padding: 1em;
			  background: var(--secondary-dark);
			  width: 100%;
			  height: 3.5em;
			  display: inline-flex;
			  position: absolute;
			  top: 0;
			  left: 0;

			  box-shadow: 0 0.1rem 0 rgb(0 0 0 / 20%) !important;
			}

			.main-div {
			  padding-top: 3.75em;
			  margin-left: 3.5em;
			  width: calc(100% - 3.5em);
			  min-height: calc(100vh - 2.5em);
			}

			.main-page {
			  max-width: calc(100% - 3.5em);
			  /*text-align: left;*/
			}

			#footer-div {
			  background: var(--primary-dark);
			  padding: 0.7em;
			  margin-left: 3.5em;
			  width: calc(100% - 3.5em);
			  height: 2.5em;
			  display: inline-flex;

			  border-top: 1px solid var(--light-black);
			  box-shadow: 0 0.1rem 0.5em rgb(0 0 0 / 20%) !important;
			}

			@media screen and (max-width: 600px) {
			  #h2-Cloudfort {
			  	display: none;
			  }

			  #menu-bars {
			  	display: block;
			  }

			  #menu-div {
			    display: none;
			  }

			  #footer-div {
			    margin-left: 0;
			    width: 100%;
			  }

			  .main-div {
			    margin-left: 0;
			    width: 100%;
			  }

			  .main-page {
			    max-width: 90%;
			  }
			}
		</style>

		<script type="text/javascript" src="@pathto(assets/js/script)"></script>
		<script type="text/javascript" src="@pathto(assets/js/menu)"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
		<script type="text/javascript" src="@pathto(assets/js/mantis-editor)"></script>

		<script src="@pathtofile(public/assets/js/crypto-js/crypto-js.js)"></script>

		<script>
			var home = "nil";
			var pwd = "~/";
			var pkg_man;
			var config;

			const CLOUDFORT_DASH_PW = localStorage.getItem("CLOUDFORT_DASH_PW");
			function signature(msg) {
				return CryptoJS.HmacSHA256(msg, CLOUDFORT_DASH_PW)
			}

			var x = document.getElementsByName("cyear");
			for(var i=0; i<x.length; i++)
				x[i].innerHTML = new Date().getFullYear();

			function show(name) {
				if(name == "index") {
					document.title = "Dash";
				}
				else
					document.title = "Dash - " + name;

				document.getElementById("index-div").style.display = "none";
				document.getElementById("monitor-div").style.display = "none";
				document.getElementById("terminal-div").style.display = "none";
				document.getElementById("explorer-div").style.display = "none";
				document.getElementById("editor-div").style.display = "none";
				document.getElementById("tools-div").style.display = "none";
				document.getElementById("administration-div").style.display = "none";
				document.getElementById("admin-dash-div").style.display = "none";
				document.getElementById("admin-system-div").style.display = "none";
				document.getElementById("certs-div").style.display = "none";
				document.getElementById("cronjobs-div").style.display = "none";
				document.getElementById("docker-div").style.display = "none";
				document.getElementById("fail2ban-div").style.display = "none";
				document.getElementById("firewall-div").style.display = "none";
				document.getElementById("repos-div").style.display = "none";
				document.getElementById("services-div").style.display = "none";
				document.getElementById("ssh-div").style.display = "none";
				document.getElementById("users-div").style.display = "none";

				document.getElementById(name + "-div").style.display = "block";

				if(name == "cronjobs")
					fetch_cronjobs();
				else if(name == "docker")
					fetch_docker_containers();
				else if(name == "fail2ban")
					fetch_fail2ban_status();
				else if(name == "repos")
					fetch_repos();
				else if(name == "services")
					fetch_services();
				else if(name == "users")
					fetch_users();
				else if(name == "explorer")
					get_dir(bwd);
				else if(name == "monitor")
					fetch_top();
				else if(name == "terminal")
					document.getElementById("input-terminal").focus();
			}

			async function sign_out() {
			    localStorage.removeItem("CLOUDFORT_DASH_PW")
			    window.location.href = "@pathto(auth/sign-in/)"
			}

			async function check_signed_in() {
				if(!localStorage.getItem("CLOUDFORT_DASH_PW"))
					window.location.href = "@pathto(auth/sign-in/)"

				const date = new Date().getTime().toString();

				const formData = new FormData();
				formData.append("date", date);

				let response = await fetch("/api/sigcheck", {
					method: "POST",
					headers: {
						//"content-type": "application/json"
						"signature": signature(date)
				    },
			        body: formData
				});
				let result = await response.text();

				if(result != "true") {
					window.location.href = "@pathto(auth/sign-in/)"
				}
			}

			function desanitize(str) {
			    str = str.replaceAll("\\n", "\n");
			    str = str.replaceAll("\\t", "\t");
			    str = str.replaceAll("\\\"", "\"");

				//var re = /\n.*\\r/g
				//str = str.replaceAll(re, "\n");

				//while(str.indexOf("\\b") != -1)
			      //  str = str.replace(/.\\b/, "");

			    return str;
			}

			async function get_config() {
				const date = new Date().getTime().toString();

				const formData = new FormData();
				formData.append("date", date);
				formData.append("path", home + "/.cloudfort/config.json");

				let response = await fetch("/api/file/read", {
					method: "POST",
					headers: {
						//"content-type": "application/json"
						"signature": signature(date)
				    },
			        body: formData
				});
				config = JSON.parse(await response.text());
			}

			async function get_home() {
				const date = new Date().getTime().toString();

				const formData = new FormData();
				formData.append("date", date);

				let response = await fetch("/api/home", {
					method: "POST",
					headers: {
						//"content-type": "application/json"
						"signature": signature(date)
				    },
			        body: formData
				});
				home = await response.text();
			}

			async function get_pkg_man() {
				const date = new Date().getTime().toString();

				const formData = new FormData();
				formData.append("date", date);

				let response = await fetch("/api/pkg-man", {
					method: "POST",
					headers: {
						//"content-type": "application/json"
						"signature": signature(date)
				    },
			        body: formData
				});
				pkg_man = await response.text();
			}

			async function get_pwd() {
				const date = new Date().getTime().toString();

				const formData = new FormData();
				formData.append("date", date);

				let response = await fetch("/api/pwd", {
					method: "POST",
					headers: {
						//"content-type": "application/json"
						"signature": signature(date)
				    },
			        body: formData
				});
				pwd = await response.text();
			}

			async function dash_init() {
				await check_signed_in();

				//resolve_waiting_popup();
				//document.getElementById("content").style.display = "block";

				await get_home();
				await get_config();
				await get_pkg_man();
				await get_pwd();

				await editor_init();
				await explorer_init();
				await monitor_init();
				await terminal_init();
				await certs_init();
				await firewall_init();

				resolve_waiting_popup();
				document.getElementById("content").style.display = "block";
			}
			dash_init();

			document.body.onkeydown = function(e) {
				if(e.altKey) {
					if(e.key == 'e') {
						e.preventDefault();
						show('editor');
					}
					else if(e.key == 'm') {
						e.preventDefault();
						show('monitor');
					}
					else if(e.key == 't') {
						e.preventDefault();
						show('terminal');
					}
					else if(e.key == 'x') {
						e.preventDefault();
						show('explorer')
					}
					else if(e.key == "f" || e.key == "Enter") {
						e.preventDefault();
						if(document.fullscreenElement || document.webkitIsFullScreen || document.mozFullScreen || document.msIsFullScreen) {
							document.exitFullscreen();
						}
						else {
							if(document.getElementById("html").requestFullscreen)
								document.getElementById("html").requestFullscreen();
							else if(document.getElementById("html").webkitRequestFullscreen)
								document.getElementById("html").webkitRequestFullscreen();
							else if(document.getElementById("html").mozRequestFullscreen)
								document.getElementById("html").mozRequestFullscreen();
							else if(document.getElementById("html").msRequestFullscreen)
								document.getElementById("html").msRequestFullscreen();
						}
					}
				}
				else if(e.ctrlKey) {
					/*if(e.key == "r") {
						e.preventDefault();
					}*/
				}
				else if(e.key == 'ArrowRight' || e.code == 'ArrowRight') {
					if(document.getElementById("serve-img-popup").style.display == "block") {
						e.preventDefault();
						serve_image_increment();
					}
					else if(document.getElementById("serve-video-popup").style.display == "block") {
						e.preventDefault();
						serve_video_increment();
					}
				}
				else if(e.key == 'ArrowLeft' || e.code == 'ArrowLeft') {
					if(document.getElementById("serve-img-popup").style.display == "block") {
						e.preventDefault();
						serve_image_decrement();
					}
					else if(document.getElementById("serve-video-popup").style.display == "block") {
						e.preventDefault();
						serve_video_decrement();
					}
				}
			}
		</script>
	</body>
</html>